<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="">
     <p>{{descripcion}}</p>
</div>
<div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-success" (click)="confirmar(id)">Confirmar</button>
    <button type="button" class="btn btn-danger" (click)="cancelar(id)">Cancelar</button>
</div>